.modal-container{
    position: absolute;
    inset: 0;
    flex: 1;
    background-color: #0007;

    display: flex;
    justify-content: center;
    align-items: center;

    >.modal{
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 10px;
        width: 420px;
        height: fit-content;

        background-color: var(--modalColor);
        color: #fff;
        border-radius: 8px;
        border: 1px solid var(--borderColor);
        cursor: default;

        >input[type='text']{
            height: 150px;
            padding: 10px;

            border-radius: 8px;
            border: none;
            outline: 0;
            background-color: var(--corBase);
            color: #fff;
        }

        >input[type='email'] {
            padding: 10px;

            border-radius: 8px;
            border: none;
            outline: 0;
            background-color: var(--corBase);
            color: #fff;
        }

        >button{
            display: flex;
            align-items: center;

            width: fit-content;
            height: 30px;
            padding: 8px 16px;

            background-color: var(--buttonColor);
            color: #fff;
            border: 1px solid var(--borderColor);
            border-radius: 4px;
            align-self: center;
            cursor: pointer;
            
        }
    }
}